:root {
    --superhero: 'Bangers', cursive;
    --fantasy: 'MedievalSharp', cursive;
    --space: 'Orbitron', sans-serif;
    --military: 'Black Ops One', cursive;
    --romantic: 'La Belle Aurore', cursive;
    --scary: 'Creepster', cursive;
    --cowboy: 'Rye', cursive;
    --regular: sans-serif;
    --fantasy: 'MedievalSharp', cursive;
    --font: var(--regular);
    --sharp: 0;
    --soft: 10px;
    --round: 100px;
    
    --image: var(--soft);
    
    --background: #f5f5f5;
    --text: #222222;
    
    --light: var(--background);
    --dark: var(--text);
}


body, html {
    margin: 0;
    padding: 10px;
    background: hsl(204, 56%, 12%);
    color: #ffedd9;
    font-family: 'Noto Serif', serif;
    
}

img {
    width: 220px;
    height: 220px;
    border-radius: 250px;
    margin: 20px 0px;
    
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.till_dp{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.details{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 10px;
}
h1{
    margin-bottom: 0px;

}
.index{
    display:flex;
    justify-content: space-around;
    border: 3px solid #ffedd9;
    width: auto;
    border-radius: 15px;
    margin: 0px 150px;
    background-color: #ffedd9;
}

p{
    color:#f5f5f5;
}
.partition{
    display: flex;
}

.left_part{
    width: 200%;
    margin-left: 150px;
    margin-right: 10px;
}
.right_part{
    width: 200%;
    margin-right: 150px;
    margin-left: 10px;
}
hr{
    height: 2px;
    background: #ffedd9;
    border-radius: 5px;
    color: #ffedd9;
    width: 120px;
    margin-left: 0px;
    
}

h3{
    margin-top : 10px;
    margin-bottom: 5px;
}
#italic{
    font-style: italic;
    color: #ffedd9;
}